.password-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-left: 80px;
  margin: 0 auto;
}
   
.password_title {
  font-size: 25px;
  margin: 0 0 20px 0;
}

.type-generation  {
  display: flex;
  margin-bottom: 20px;
}

.type-button {
  width: 250px;
  height: 30px;
  background-color: #1a73e8;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor:pointer;
}

.type-button:hover{
  background-color: #155eb0;
}

.type-button_activ {
  width: 250px;
  height: 30px;
  background-color: #34d399;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: auto;
}
   
.password-generator .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
   
.password-generator label {
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding-bottom: 20px;
}
.password-generator label:last-child {
  margin-right: 57px;
}

.password_length {
  margin: 20px auto;
}

.password_length input {
  width: 300px;
}

.create-button {
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-bottom: 30px;
}
   
.create-button:hover {
  background-color: #155eb0;
}
   
.password-output p {
  padding-left: 10px;
  font-size: 1.1rem;
  font-family: 'Courier New', Courier, monospace;
}
   
.password-output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 520px;
  height: 50px;
  background-color: #f8f9fa;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding-left: 10p
}
   
.password-output button {
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor:pointer;
  margin-right: 10px;
  }
   
.password-output button:hover {
  background-color: #155eb0;
}
   
.password-output button.copied {
  background-color: #34d399;
  cursor:auto;
}

.password-generator input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  margin-right: 5px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 50px;
}

.password-generator input[type='number']::-webkit-inner-spin-button, 
.password-generator input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}